{% block body %}

    <!-- Paticka -->
    <footer class="container-fluid bg-info text-white text-center font-weight-bold small">
        <span id="spolecne_pati_verze">Verze: 2.0.0</span>; <span id="spolecne_pati_predmet">KIV/OKS</span>;
        <span id="spolecne_pati_autor">Jan Čarnogurský</span>; <span id="spolecne_pati_rok">© 2021</span>
    </footer>
    <!-- KONEC: Paticka -->

{% endblock %}