{% block body %}

    <nav class="navbar navbar-expand-md bg-secondary navbar-dark sticky-top">
        <div class="container">
          <span id="menu_role" class="navbar-brand dropdown">
        <span id="uci_menu" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="role fas fa-user-tie"></i> Učitel</span>
    <div class="dropdown-menu">
      <a id="uci_menu_zmena_heslo" class="dropdown-item btn" href="#" data-toggle="modal" data-target="#uci_modal_zmena">Změna hesla</a>
      <form action="/public/logout" method="post">
        <button id="uci_menu_logout" type="submit" class="dropdown-item btn-link" name="OBSLUHA_logout_logoutUcitel">
            Logout
            <i class="fas fa-sign-out-alt"></i>
        </button>
      </form>
    </div>
        </span>
            <!-- Toggler/collapsibe Button -->
            <button id="menu_collapsible_button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu_collapsible_navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar links -->
            <div id="menu_collapsible_navbar" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li id="menu_navod" class="nav-item">
                        <a class="nav-link {% if tab == constant('App\\Enum\\EMenuTab::HELP') %}active{% endif %}" href="navod">
                            <i class="menu-small fas fa-book-open"></i>
                            Návod
                        </a>
                    </li>
                    <li id="menu_celkove" class="nav-item">
                        <a class="nav-link {% if tab == constant('App\\Enum\\EMenuTab::OVERALL') %}active{% endif %}" href="celkove">
                            Celkově
                            {% if studentsCount > 0 %}
                                <span id="menu_celkove_vsech_studentu" title="Počet všech zapsaných studentů" class="badge badge-primary badge-pill">
                                    {{ studentsCount }}
                                </span>
                            {% endif %}
                        </a>
                    </li>
                    <li id="menu_studenti" class="nav-item">
                        <a class="nav-link {% if tab == constant('App\\Enum\\EMenuTab::STUDENTS') %}active{% endif %}" href="studenti">
                            <i class="menu-small fas fa-users"></i>
                            Studenti
                        </a>
                    </li>
                    {% if selectedStudentNumber %}
                        <li id="menu_osobniCislo" class="nav-item">
                            <a class="nav-link {% if tab == constant('App\\Enum\\EMenuTab::STUDENT') %}active{% endif %}" href="osobniCislo">
                                <i class="menu-small fas fa-user-graduate"></i>
                                {{ selectedStudentNumber }}
                            </a>
                        </li>
                    {% endif %}
                    <li id="menu_nastaveni" class="nav-item">
                        <a class="nav-link {% if tab == constant('App\\Enum\\EMenuTab::SETTINGS') %}active{% endif %}" href="nastaveni">
                            <i class="menu-small fas fa-cog"></i>
                            Nastavení
                        </a>
                    </li>
                    <li id="menu_logout" class="nav-item">
                        <a class="nav-link" href="/public/logout">
                            <i class="menu fas fa-sign-out-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>

{% endblock %}