{% block body %}

    <div id="modal_hlaseni" class="modal" aria-modal="true" role="dialog" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modal_hlaseni_typ" class="modal-title text-success">Úspěšné zpracování požadavku</h4>
                    <button id="modal_obecny_bt_zavreni" type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body bg-success">
                    <div id="modal_hlaseni_text" class="fetched-data font-weight-bold">{{ successMsg }}</div>
                </div>
                <div class="modal-footer">
                    <button id="modal_hlaseni_zavrit" type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#modal_hlaseni').modal('show')
    </script>

{% endblock %}